@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">.Net Software Developer Test</h1>
    <!-- Aquí cargamos la vista parcial EmployeeInformation.cshtml -->
    @await Html.PartialAsync("~/Views/EmployeesInfo/EmployeeInformation.cshtml")
</div>